In [5]:
#case1
num=10
if None:#it will not allow like o amd false
    print("Number is positive")
print("this will always print")

this will always print

In [4]:
#cricket details
d={"1":{"name":"kohli","role":"batsman","rank":1},"2":{"name":"bhuvi","role":"bowler","rank":2},"3":{"name":"jadeja","role:"allrounder","rank":3}}

SyntaxError: unterminated string literal (detected at line 2) (1586410974.py, line 2)

In [7]:
#nested condition check inside multiple conditions
n=75
if n>90 and n<100:
    if n>95:
        print(1)
    else:
        print(2)
elif n<90 and n>80:
    if n>85:
        print(1)
    else:
        print(2)
elif n<80 and n>70:
    if n>75:
        print(1)
    else:
        print(2)
elif n<70 and n>60:
    if n>6:
        print(1)
    else:
        print(2)
else:
    print("next")

2

In [8]:
#stop will always excluded value
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
#product of 2
p=2
for i in range(1,11,1):
    print(p*i)

2
4
6
8
10
12
14
16
18
20

In [11]:
#prime number check
n=int(input())
if n>1:
    for i in range(2,(n//2)+1):
        if n%i==0:
            print("no")
            break
    else:
        print("yes")
else:
    print("no")

 2

yes

In [13]:
#check between range prime numbers
s=int(input())
e=int(input())
l=[]
for i in range(s,e+1):
    if i>1:
       for j in range(2,(i//2)+1):
           if i%j==0:
               break
       else:
           l.append(i)
print(l)

 20
 60

[23, 29, 31, 37, 41, 43, 47, 53, 59]

In [4]:
#break continue pass
for i in range(0,10,1):
    if i==5:
        break     #if will met condition it will come out from loop
    print(i)
for n in range(0,10,1):
    if n==5:
        continue #if will met condition it skip current iteration
    print(n)

0
1
2
3
4
0
1
2
3
4
6
7
8
9

In [8]:
#case1 break continue pass
l=[[18,"kohli"],[95,"dhoni"],[1,"klrahul"],[45,"rohit"],[9,"dravid"]]
for i in l:
    if i[0]==1:
        print(i[1])
        break
for ele in l:
    if ele[0]==1:
        continue
    print(ele[1])

klrahul
kohli
dhoni
rohit
dravid

In [9]:
#append insert pop remove extend
l=[0,1,2,3,4,5,6,7,8,9]
l.append(11)      #element will add at end of list
l.insert(1,10)     #we can add element at particular index
l.pop(3)           #we can remove element at particular index
l.remove(7)        #remove elemnet by values based
l.extend([3,4,7])  #it will add list elements at end
print(l)

[0, 10, 1, 3, 4, 5, 6, 8, 9, 11, 3, 4, 7]

In [10]:
#sorting the elements
l=[10,30,45,90,19]
l1=sorted(l)
l2=sorted(l,reverse=True)
print(l1)
print(l2)

[10, 19, 30, 45, 90]
[90, 45, 30, 19, 10]

In [11]:
#split
s="i am Jayavardhan reddy thugu"
l=s.split() #it will split the words in list format
print(l) #print list elements

['i', 'am', 'Jayavardhan', 'reddy', 'thugu']

In [12]:
#negative index values base on
l=[1,2,3,4,5,6,7]
print(l[-1])

7

In [13]:
#count
l=[1,2,3,1,2,3,4,5,6,7]
n=l.count(7)              #count no of values are in list
print(n)

1

In [14]:
#list comprehension
l=[i**2 for i in range(10)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
#transpose matix with out function
m=[[1,2,3,4],
   [5,6,7,8],
   [9,10,11,12]]
l=[]
for i in range(4):
    n=[]
    for j in range(3):
        n.append(m[j][i])
    l.append(n)
print(l)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [18]:
#tuple
l=("pan","aadhar",["mob",23])
print(l[0])
print(l[1])
print(l[-1][0])

pan
aadhar
mob

In [19]:
#modify list in side tuple
l=("pan","aadhar",["mob",23])
l[-1][0]="mpbile"
print(l)

('pan', 'aadhar', ['mpbile', 23])

In [20]:
#string element is also immutable
s="jayavardhan"
s[7]="r"
print(s)

TypeError: 'str' object does not support item assignment

In [22]:
#repeat the element in tuple using * operator
l=(('prwatech',)*5)
print(l)

('prwatech', 'prwatech', 'prwatech', 'prwatech', 'prwatech')

In [23]:
#tuple delete element
l=(1,2,3,4,5)
del l[0]               #cn not delete tuple element inside tuple object

TypeError: 'tuple' object doesn't support item deletion

In [24]:
#indexing values assess based values
l=[1,2,3,4,5]
print(l.index(5))

4

In [25]:
#membership operator checking
l=[1,2,3,4,5]
print(1 in l)
print(7 in l)

True
False

In [26]:
#len to find no of elements present
l=[1,2,3,4,5]
print(len(l))

5

In [30]:
#max min sum sort reverse
l=[1,2,3,4,5]
print(max(l))
print(min(l))
print(sum(l))
l1=sorted(l,reverse=True)
print(l1)

5
1
15
[5, 4, 3, 2, 1]

In [31]:
#mean median mode
import statistics as lst
l=[1,2,3,4,5]
k=lst.median(l)
print(k)

3

In [33]:
#copy same elemnts to another list
l=[1,2,3,4,5]
l1=l
print(l)
print(l1)
print(l is l1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
True

In [35]:
#sets
s={12,3,5,7,8,9}
s.update([1,2,3])
print(s)

{1, 2, 3, 5, 7, 8, 9, 12}

In [38]:
#remove an element
lst={1,2,3,4,5}
lst.remove(5)
lst.discard(9)
print(lst)

{1, 2, 3, 4}

In [39]:
#pop means temprory deletion flow
l={1,2,3,4,5,6,7,8,9}
a=l.pop()
print(a)
b=l.pop()
print(b)

1
2

In [40]:
#clear the data
l={1,2,3,4,5}
l.clear()
print(l)

set()

In [41]:
#union intersection minus symmetric difference
s={1,2,3,4,5,6,7}
s1={3,4,5,6,7,8,9,11,23}
print(s | s1)
print(s & s1)
print(s ^ s1)
print(s.symmetric_difference(s1))
print(s-s1)
print(s.difference(s1))
print(s.union(s1))
print(s.intersection(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 23}
{3, 4, 5, 6, 7}
{1, 2, 8, 9, 11, 23}
{1, 2, 8, 9, 11, 23}
{1, 2}
{1, 2}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 23}
{3, 4, 5, 6, 7}

In [43]:
#fozenset based values
s=frozenset([1,2,3,4,5])
s1=frozenset([0,1,2,3,4,5])
s.add(s)
s1[5]

AttributeError: 'frozenset' object has no attribute 'add'

In [1]:
#dictionary based value
d={1:'a',2:['b','c']}
print(d)
print(type(d))

{1: 'a', 2: ['b', 'c']}
<class 'dict'>

In [2]:
#create empty dictionary list values
d={1:'a',2:['b','c']}
d1={}
print(type(d))
print(type(d1))
print(id(d))
print(id(d1))

<class 'dict'>
<class 'dict'>
1843694425152
1843694740032

In [5]:
#pop and pop item
d={1:'a',2:['b','c']}
d1=d.pop(1)
d2=d.popitem()
print(d1)
print(d2)

a
(2, ['b', 'c'])

In [6]:
#delete is permentely delete data or value
d={1:'a',2:['b','c']}
del d[1]
print(d)

{2: ['b', 'c']}

In [7]:
#copy
d={1:'a',2:['b','c']}
d1=d.copy()
print(id(d))
print(id(d1))

1843700363584
1843700363904

In [8]:
#fromkeys useing for multiple keys for same value
d=dict.fromkeys(['math','english','hindi','telugu','social'],'33')
print(d)

{'math': '33', 'english': '33', 'hindi': '33', 'telugu': '33', 'social': '33'}

In [9]:
#all details of one particular fumnstion
l={}
l1=[]
l2=set()
l3=()
print(dir(l))
print(dir(l1))
print(dir(l2))
print(dir(l3))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [11]:
#dictionary using loop
d={1:'a',2:['b','v','l','c']}
for i,j in d.items():
    print(i)

1
2

In [13]:
#dictionary comprehision in one l
d1={1:2,3:4,5:6,7:9,10:11}
d={k:v for k,v in d1.items() if v>9}
print(d)

{10: 11}